$white: #ffffff;
$gray-dark: #5f5f5f;
$gray-gradient-start: $white;
$gray-gradient-end: #f1f1f1;
$primary-blue: #00215f;
$primary-orange: #fd2c00;
$light-gray: #e8e8e8;
$gray-text: darken($light-gray, 50%);
